doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 

        meta name="title" content=""
        meta name="description" content=""

        meta property="og:type" content="website"
        meta property="og:url" content=""
        meta property="og:title" content=""
        meta property="og:description" content=""
        meta property="og:image" content=""

        meta property="twitter:card" content=""
        meta property="twitter:url" content=""
        meta property="twitter:title" content=""
        meta property="twitter:description" content=""
        meta property="twitter:image" content=""

        link (rel="apple-touch-icon" sizes="57x57" href="favicons/")
        link (rel="apple-touch-icon" sizes="60x60" href="favicons/")
        link (rel="apple-touch-icon" sizes="72x72" href="favicons/")
        link (rel="apple-touch-icon" sizes="76x76" href="favicons/")
        link (rel="apple-touch-icon" sizes="114x114" href="favicons/")
        link (rel="apple-touch-icon" sizes="120x120" href="favicons/")
        link (rel="apple-touch-icon" sizes="144x144" href="favicons/")
        link (rel="apple-touch-icon" sizes="152x152" href="favicons/")
        link (rel="apple-touch-icon" sizes="180x180" href="favicons/")
        link (rel="icon" type="image/png" sizes="192x192"  href="favicons/")
        link (rel="icon" type="image/png" sizes="32x32" href="favicons/")
        link (rel="icon" type="image/png" sizes="96x96" href="favicons/")
        link (rel="icon" type="image/png" sizes="16x16" href="favicons/")
        
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/style.min.css")
    body
        include 'blocks/header'
        


        include 'blocks/footer'

        script(src="js/index.js")